@model List<PETHOTEL.Models.NewsViewModel>
<section class="image-head-wrapper" style="background-image: url('/img/3.jpg');">
    <div class="inner-wrapper">
        <h1>關於我們</h1>
    </div>
</section>
<div class="clearfix"></div>

<section class="about-block">

    <div class="container">
        <div class="row">
            <div class="col-md-5 about-left">
                <label> &nbsp PET HOTEL &nbsp&nbsp&nbsp&nbsp <br> </label>
                <p>最專業的團隊<br> &nbsp    <span></span></p>
            </div>
            <div class="col-md-7 about-right">
                <h3>以貓兒需求出發，讓貓兒開心，是我們的宗旨</h3>
                <p>
                    PETs HOTEL 十分重視住宿貓咪的健康，對於環境消毒、空氣品質、飲食飲水、貓砂清潔、住宿回報等都有完備的機制。
                    PETs HOTEL 僅專注照顧您的貓咪。為確保住宿貓咪不受干擾及充分自由活動時間，
                    參觀及住宿採完全預約制，敬請家長體諒配合。
               
                </p>
                <ul class="list-unstyled list-inline">
                    <li>六心級的住宿服務、隨時監控寵物最新動態、專人用心照顧</li>
                    <li>最齊全的、線上購物平台、隨時更新商品</li>
                   
                    <li>使用GEX貓咪專用循環飲水器、日本製Richell貓砂盆、英國Byopet系列清潔產品</li>
                    <li>專人用心照顧，餵食、遊戲、清潔、回報絕不馬虎</li>
                </ul>
                <span></span>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</section>