@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>會員登入</title>



    <link rel="stylesheet" href="~/jicss/css/style.css">

</head>
<body>
    <div class="container">
        <div class="message signup">
            <div class="btn-wrapper">
                <button class="button" id="signup">SignUp</button>
                <button class="button" id="login"> Login</button>
            </div>
        </div>

        <div class="form form--signup" action="" data-ajax="false" method="post">
            <div class="form--heading">Welcome! Sign Up</div>
            <form action="" data-ajax="false" method="post">
                <input type="text" name="c_account" id="c_account" placeholder="account">
                <input type="email" name="c_password" id="c_password" placeholder="Email">
                <input type="password" name="c_name" id="c_name" placeholder="password">
                <input type="text" name="c_address" id="c_address" placeholder="name">
                <input type="text" name="c_phone" id="c_phone" placeholder="name">
                <input type="text" name="c_gmail" id="c_gmail" placeholder="name">               
                <input type="submit" class="button" name="action:signup" value="Sign Up">
            </form>
        </div>

        <div class="form form--login" action="" data-ajax="false" method="post">
            <div class="form--heading">Welcome back! </div>
            <form action="" data-ajax="false" method="post">
                <input type="text" name="c_account" id="c_account" placeholder="account">
                <input type="password" name="c_password" id="c_password" placeholder="password">
                <input type="submit" class="button" name="action:login" value="Login">
            </form>
        </div>

    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <script src="~/jicss/js/index.js"></script>


</body>
</html>

