<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    @*<link href="~/Views/TEST/vacayhome-master/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Views/TEST/vacayhome-master/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Views/TEST/vacayhome-master/css/lightbox.min.css" rel="stylesheet" />
        <link href="~/Views/TEST/vacayhome-master/css/responsive.css" rel="stylesheet" />
        <link href="~/Views/TEST/vacayhome-master/css/style.css" rel="stylesheet" />


        <script src="~/Views/TEST/vacayhome-master/js/bootstrap.min.js"></script>
        <script src="~/Views/TEST/vacayhome-master/js/custom.js"></script>
        <script src="~/Views/TEST/vacayhome-master/js/instafeed.min.js"></script>
        <script src="~/Views/TEST/vacayhome-master/js/jquery.imagesloaded.js"></script>
        <script src="~/Views/TEST/vacayhome-master/js/jquery.min.js"></script>
        <script src="~/Views/TEST/vacayhome-master/js/lightbox-plus-jquery.min.js"></script>
        <script src="~/Views/TEST/vacayhome-master/js/masonry.pkgd.min.js"></script>*@
    <link href="~/QQQQQ/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/QQQQQ/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/QQQQQ/css/responsive.css" rel="stylesheet" />
    <link href="~/QQQQQ/css/style.css" rel="stylesheet" />
    <link href="~/QQQQQ/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    @*<a href="~/QQQQQ/font-awesome/fonts/fontawesome-webfont.eot">~/QQQQQ/font-awesome/fonts/fontawesome-webfont.eot</a>
    <a href="~/QQQQQ/font-awesome/fonts/fontawesome-webfont.ttf">~/QQQQQ/font-awesome/fonts/fontawesome-webfont.ttf</a>
    <a href="~/QQQQQ/font-awesome/fonts/fontawesome-webfont.woff">~/QQQQQ/font-awesome/fonts/fontawesome-webfont.woff</a>
    <a href="~/QQQQQ/font-awesome/fonts/fontawesome-webfont.woff2">~/QQQQQ/font-awesome/fonts/fontawesome-webfont.woff2</a>
    <a href="~/QQQQQ/font-awesome/fonts/FontAwesome.otf">~/QQQQQ/font-awesome/fonts/FontAwesome.otf</a>*@
    <img src="~/QQQQQ/font-awesome/fonts/fontawesome-webfont.svg" />
    <script src="~/QQQQQ/js/bootstrap.min.js"></script>
    <script src="~/QQQQQ/js/custom.js"></script>
    <script src="~/QQQQQ/js/instafeed.min.js"></script>
    <script src="~/QQQQQ/js/jquery.imagesloaded.js"></script>
    <script src="~/QQQQQ/js/jquery.min.js"></script>
    <script src="~/QQQQQ/js/lightbox-plus-jquery.min.js"></script>
    <script src="~/QQQQQ/js/masonry.pkgd.min.js"></script>


</head>
<body>

    <!---header top---->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!--                            <a href="#"> </a>
                                                <div class="info-block"><i class="fa fa-map"></i>701 Old York Drive Richmond USA.</div>-->
                </div>
                <div class="col-md-6">
                    <div class="social-grid">
                        <ul class="list-unstyled text-right">
                            <li><a><i class="fa fa-facebook"></i></a></li>
                            <li><a><i class="fa fa-twitter"></i></a></li>
                            <li><a><i class="fa fa-linkedin"></i></a></li>
                            <li><a><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header--->
    <header class="header-container">
        <div class="container">
            <div class="top-row">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div id="logo">
                            <!--<a href="index.html"><img src="images/logo.png" alt="logo"></a>-->
                            <a href="/Home/Home"><span>Hotel</span>PETs</a>
                        </div>
                    </div>
                    <div class="col-sm-6 visible-sm">
                        <div class="text-right"><button type="button" class="book-now-btn">線上訂房</button></div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 remove-padd">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header page-scroll">
                                <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navigation navbar-collapse navbar-ex1-collapse remove-space">
                                <ul class="list-unstyled nav1 cl-effect-10">
                                    <li><a data-hover="首頁" href="/Home/Home" class="active"><span>首頁</span></a></li>
                                    <li><a data-hover="關於我們" href="/Home/About"><span>關於我們</span></a></li>
                                    <li><a data-hover="房型介紹" href="/Customer/Create"><span>房型介紹</span></a></li>
                                    <li><a data-hover="寵物商品" href="gallery.html"><span>寵物商品</span></a></li>
                                    <li><a data-hover="訂房系統" href="dinning.html"><span>訂房系統</span></a></li>
                                    <li><a data-hover="最新消息" href="news.html"><span>最新消息</span></a></li>
                                    <li><a data-hover="聯絡我們" href="contact.html"><span>聯絡我們</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="col-md-2  col-sm-4 col-xs-12 hidden-sm">
                        <div class="text-right"><button type="button" class="book-now-btn">線上訂房</button></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--end-->

    @RenderBody()
</body>
</html>
